MASSIVE_API_KEY=
MASSIVE_SECRET_SCOPE=massive
MASSIVE_SECRET_KEY=api-key
SEC_USER_AGENT=Signal Desk Capstone <contact-email>
DATABRICKS_WAREHOUSE_ID=b15d3d6f837ba428
LAKEBASE_URL=postgresql://student:<password>@ep-odd-union-d1792avs.database.us-west-2.cloud.databricks.com/databricks_postgres?sslmode=require
LAKEBASE_SECRET_SCOPE=database
LAKEBASE_SECRET_KEY=lakebase-url
SIGNAL_DESK_SCHEMA=student_sri
